In [1]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_excel("data/amazon_global_superstore.xlsx")
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [5]:
type(df['Order Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [6]:
df['Year']= df['Order Date'].dt.year

In [7]:
df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Year
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High,2014
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical,2014

In [8]:
df['Year'].value_counts()

Year
2015    17531
2014    13799
2013    10962
2012     8998
Name: count, dtype: int64

In [9]:
df[df['Year'] == 2015].Profit.sum()

504165.97046000004

In [10]:
pd.set_option('display.max_columns', None)

In [11]:
df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Year
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High,2014
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical,2014

In [12]:
df.Country.nunique()

165

In [13]:
df.groupby('Year')['Profit'].sum()

Year
2012    248940.81154
2013    307415.27910
2014    406935.23018
2015    504165.97046
Name: Profit, dtype: float64

In [17]:
df['Order Date'] = df['Order Date'].astype(str) 
df['Ship Date'] = df['Ship Date'].astype(str)

def replace_years(date_str): 
    if '2012' in date_str: 
        return date_str.replace('2012', '2020') 
    elif '2013' in date_str: 
        return date_str.replace('2013', '2021') 
    elif '2014' in date_str: 
        return date_str.replace('2014', '2022') 
    elif '2015' in date_str: 
        return date_str.replace('2015', '2023') 
    return date_str 

df['Order Date'] = df['Order Date'].apply(replace_years) 
df['Ship Date'] = df['Ship Date'].apply(replace_years) 

df['Year'] = df['Year'].replace({2012: 2020, 2013: 2021, 2014: 2022, 2015: 2023})

In [18]:
df['Order Date'] = pd.to_datetime(df['Order Date']) 
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [19]:
df.groupby('Year')['Sales'].sum()

Year
2020    2.259451e+06
2021    2.677439e+06
2022    3.405746e+06
2023    4.299866e+06
Name: Sales, dtype: float64

In [26]:
product_sales= df.groupby('Product Name')['Sales'].sum().reset_index()

In [27]:
product_sales = product_sales.sort_values(by='Sales', ascending=False)

In [28]:
product_sales.head(2)

                     Product Name       Sales
310  Apple Smart Phone, Full Size  86935.7786
970  Cisco Smart Phone, Full Size  76441.5306